html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}



#logo{
  position: fixed;
  top: 5px;
  left: 30px;
}

#logo:hover{
  z-index: 1;
}

#logo img{
  width: 30%;
}

#homeLogo img{
  width: 40%;
}

#homeLogo{
  padding-top: 200px;
  padding-bottom: 40px;
}

#twisted{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 5px;
  padding-left: 5px;
  color: white;

}

#brewing{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 10px;
  padding-left: 10px;
  color: #800000;
}

#vista{
  font-family: 'Rokkitt', serif;
  letter-spacing: 3px;
  font-size: 18px;
  padding-left: 3px;
  color: white;
}

.navContainer {
  background-color: black;
  height: 100%;
  text-align: center;
}


#nav ul{
  list-style: none;
  padding-left: 0;
  padding-right: 0;

}

#nav li{
  display: inline;
  padding: 15px;
}

#nav a{
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 20px;
  padding-top: 30px;
  color: white;

}

#nav a:hover {
  color: #800000;
}

.aboutContainer{
  height: 100%;
  text-align: center;
}

#aboutSection{
  margin-top: 20%;
  margin-bottom: 20%;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
}


.contactSection {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
}




#contactHeader {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom-style: solid;
  border-top-style: solid;

}

#contactInfo {
  margin-top: 30px;
  font-family: 'Rokkitt', serif;
  letter-spacing: 1px;
  font-size: 18px;
}

#contactInfo a{
  color: black;
}

#contactInfo a:hover{
  color: #800000;
}

#social a{
  padding-right: 15px;
}

#social {
  margin-top: 10px;
  margin-bottom: 30px;
}

#hoursInfo {
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'Rokkitt', serif;
  letter-spacing: 1px;
}

#map {
  width:100%;
  height: 300px;
  text-align: center;
  margin-bottom: 20px;
  border-top-style: solid;
}

.menuSection{
  padding-top: 20px;
  background-color: white;
  text-align: center;
  padding-bottom: 30px;
}

#menuSpace{
  margin-top: 150px;
}

#menuHeader {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom-style: solid;
  border-top-style: solid;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.menuItems{
  text-align: center;
  margin-top: 30px;
}

.menuItems a{
  padding-top: 20px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 50px;
  color: black;
}

.menuItems a:hover{
  color: #800000;
}

.aboutMenu {
  font-family: 'Rokkitt', serif;
  letter-spacing: 1px;
  color: black;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 80px;
}

#foodImg img {
  width: 100%;
}

#brewHeader{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom-style: solid;
  border-top-style: solid;
  margin-left: 10px;
  margin-right: 10px; 
  margin-top: 6%;

}

#brewImg img{
  width: 100%;
}

#brewTitle{
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 20px;

}

#brewDesc{
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 14px;

}

#brewItems {
  margin-top: 30px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

#aboutBrew{
  font-family: 'Rokkitt', serif;
  letter-spacing: 1px;
  color: black;
  margin-top: 30px;
  margin-left: 10px;  
  margin-bottom: 6%;
}






